<!doctype html>
<html ng-app="easyCodeApp">
	<head>
		<title> Easy Code Home </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet/less" type="text/css" href="../styles/less/bootstrap_extended/bootstrap.less" />
		
		<script type="text/javascript" src="../bower_components/less/dist/less-1.7.5.min.js"> </script>
		<script type="text/javascript" src="../bower_components/angular/angular.min.js"> </script>
		
		
		<script type="text/javascript" src="../bower_components/requirejs/require.js"> </script>
		
		<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"> </script>

		<script type="text/javascript">
			var app = angular.module('easyCodeApp', ['ui.bootstrap']);
			app.controller('easyCodeController', function($scope){
				// add header properties for phone support
				$scope.header = {
					isCollapsed : true,
				};
			})
			
		</script>
	</head>
	<body ng-controller="easyCodeController">
		<!-- navbar du site -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" ng-click="header.isCollapsed = !header.isCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">EasyCode</a>
				</div>
				
				<!-- liens du bandeau -->
				<div class="navbar-collapse" collapse="header.isCollapsed">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="#">Accueil</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		
		<!-- site content -->
		<div class="content" ng-view="">
		</div>
	</body>
</html>